* text=auto

*.cpp text eol=lf
*.hpp text eol=lf
*.h text eol=lf
*.c text eol=lf
*.cmake text eol=lf
CMakeLists.txt text eol=lf
*.md text eol=lf
*.yml text eol=lf
*.yaml text eol=lf
*.json text eol=lf
*.core text eol=lf
*.glsl text eol=lf
*.vert text eol=lf
*.frag text eol=lf
*.comp text eol=lf
*.ps1 text eol=crlf
*.bat text eol=crlf

*.png binary
*.npy binary
*.bin binary
*.coreworld binary
*.coreasset binary
*.corearch binary

thirdparty/** linguist-vendored
